TELEGRAM_BOT_TOKEN=123456:replace_me
TELEGRAM_ALLOWED_USER_IDS=123456789
# 代理：可直连 Telegram 的环境（如美国）留空即可。
# 中国大陆等需要代理时填写，例如 http://127.0.0.1:7890
HTTP_PROXY=
HTTPS_PROXY=
ALL_PROXY=
ARKNIGHTS_LOGIN_ENABLED=
ARKNIGHTS_LOGIN_USERNAME=
ARKNIGHTS_LOGIN_PASSWORD=
MAA_STARTUP_RETRIES=
CLIENT_UPDATE_ENABLED=
CLIENT_UPDATE_DOWNLOAD_URL=
CLIENT_UPDATE_DOWNLOAD_TIMEOUT_SECONDS=
CLIENT_UPDATE_INSTALL_TIMEOUT_SECONDS=
SCHEDULE_ENABLED=
SCHEDULE_DAILY_TIMES=
SCHEDULE_TIMEZONE=
SCHEDULE_NOTIFY_CHAT_ID=
